*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: #081b31;
    color: white;
    height: 4rem;
    line-height: 4rem;
    
}
.choice:hover{
    background-color:#081b31; ;
    cursor: pointer;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    
}
.choices{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 3rem;
    gap: 2.5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 1rem;
    gap: 4rem;
}
#user-score,#comp-score{
    font-size: 3rem;
}
.msg-container{
    margin-top: 5rem;
}
#msg{
    background-color:#081b31 ;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    display: inline;


}